<!DOCTYPE html>
<html>
    <head>
        <title>Flask Web App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <form method="POST">
        Username: <input type="text" name="username"><br> <!-- VULNERABLE SINCE IT'S SET TO NOT REQUIRED-->
        Password: <input type="password" name="password"><br> <!-- VULNERABLE SINCE IT'S SET TO NOT REQUIRED-->
        <input type="submit" value="Register">
    </form>
</body>
</html>
